body{
    background-color:#8aa0a8;
    color:#3d535c;
    font-family: 'Nova Square', sans-serif;
}

p{
    font-size: 13px;
}

.LeftTop { grid-area: LeftTop;
            height:60px; }
.RightTop { grid-area: RightTop;
            height: 60px; }
.MiddleTop {grid-area: MiddleTop; 
            height: 60px;}
.MiddleLeft {grid-area: MiddleLeft; }
.MiddleCenter{grid-area: MiddleCenter;}
.MiddleRight{grid-area: MiddleRight;}
.Bottom {grid-area: BottomCenter;}

.LeftTop , .RightTop ,.MiddleTop,.MiddleLeft ,.MiddleCenter,.MiddleRight,.Bottom {
    /*border: 2px solid white;*/
    padding: 10px;
}

#Logo {
    font-size:40px;
    color: #3d535c;
    text-shadow: 2px 2px #afc6cf;
}

#Timer {
    font-size:25px;
    text-align:center;
}

.GridContainer {
    display: grid;
    grid-template-areas:
    'LeftTop MiddleTop RightTop'
    'MiddleLeft MiddleCenter MiddleRight'
    'BottomCenter BottomCenter BottomCenter';
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

#PlayerTile{
    background-color:#815931;
    height: 500px;
    width: 500px;
    padding: 15px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin:auto;
    border-radius: 20px;
    box-shadow: 10px 10px;
}

#MiniTile{
    background-color:#815931;
    height: 120px;
    width: 120px;
    padding: 5px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin:auto;
    border-radius: 15px;
}

.CubePlacement{
    background-color:#8eb380;
    height: 120px;
    width: 120px;
    border-radius:5px;
    box-shadow: 2px 2px;
}

.MiniCubePlacement{
    background-color:#8eb380;
    height: 25px;
    width: 25px;
    border-radius:5px;
}

.CubePlacement:hover{
    background-color:#45772d;
}

.Button {
    background-color: #8eb380;
    box-shadow: 5px 5px #3d535c;
    border: none;
    color: #3d535c;
    border-radius: 12px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Nova Square', sans-serif;
    margin: 4px 2px;
    cursor: pointer;
}

.Button:hover{
    background-color:#45772d;
}

.CubeSide{
    background-color:#fffff0;
    height: 120px;
    width: 120px;
    border-radius:5px;
    box-shadow: 3px 3px #ffffe6;
    position:absolute;
}

#TopSide, #LeftSide, #FrontSide, #BackSide {
    background-color: #f65555;
}

#WhiteCircle{
    height: 80px;
    width: 80px;
    border-radius:50px;
    background-color:#fffff0;
    margin: 20px;
}

#RedCircle{
    height: 80px;
    width: 80px;
    border-radius:50px;
    background-color:#f65555;
    margin:20px;
}

#LeftTriangle{
    width: 120px;
    height: 120px;
    border-radius:5px;
    background-color: #fffff0;
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%);
}

#RightTriangle{
    width: 120px;
    height: 120px;
    border-radius:5px;
    background-color: #fffff0;
    clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
}